.address-container{
    background-color: #fff;
    width: 50%;
    margin: 90px auto;
    text-align: center;
    padding: 20px 0 0;
    border-radius: 4px;
    box-shadow: 0 30px 50px 0 rgba(0,0,0,.2);
    display: flex;
    flex-direction: column;
    
    
}
.address-title{
    letter-spacing: 5px;
   color: #5A5A5A;
}

.address-content {
    text-align: left;
    margin : 20px 50px;
    letter-spacing: 2px;
}
.address-footer {
    text-align: left;
    margin : 20px 50px;
    margin-top: 20px;
   
    
}

.address-footer a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.address-btn {
    display: flex;
    gap:0.5rem;
    width: 90%;
    text-align: center;
    margin-left: 10px;
    margin-bottom: 10px;
}


.address-btn button {
    border: none;
    outline: 0;
    padding: 10px 6px;
    /* color: white; */
    
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
    margin-top: 20px;
    color: black;
}

.address-form {
    display:flex;
    flex-direction: column;
    margin: 10px 40px;
}

.address-form input {
    width: 90%;
    
    padding: 10px 20px 10px 20px;
    padding-left: 5px;
    margin: 10px;
    color: #8a8b8e;
    border: 1px solid #c2c0ca;
   
    font-style: normal;
    
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    display: inline-block;
    background: 0 0;
}
.address-error{
    color: red;
    text-transform: lowercase;
   
  
}
@media only screen and (max-width: 600px){
    .address-container{
        margin-top: 20px;
        width: 95%;
    }
    .address-title{
        font-size: 22px;
        margin: 5px;
    }
    .address-content{
        margin: 10px;
    }
    .address-btn button{
        margin-top: 5px;
    }
    .address-footer{
        margin: 10px;
    }
    .address-form{
        margin: 10px;
        width: 92%;
    }
    .address-form input{
        margin: 5px;
    }
    .address-btn{
        width: 98%;
        margin: 5px;
        
    }
    .address-btn button{
        padding: 8px 2px;
        font-size: small;
    }
}