.tag-block {
    text-align: center;
}

.img-container {
   position: relative;
   background-color: #efefef;
}

.dress-category {
    text-align: left;
    display: flex;
    width: 90%;
    
}

.dress-collection {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    margin: 0px 10px;
    
    
}
.top-category {
    text-align: right;
    display: flex;
}
.top-collection {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    margin: 0px 10px;
    
    
}
.home-img {
    position: relative;
}
.home-btn {
    text-align: left;
    line-height: 15px;
    position: absolute;
    bottom: 35%;
    left: 10%;
    font-size: 23px;
    font-family:"Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif ;
    
}

.home-btn h1{
    font-size: 23px;
    font-weight: bolder;
}

.home-btn button{
    text-align: center;
background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  
  padding: 50px 50px;
  padding-top: 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.home-btn button:hover,
.home-btn button:focus {
  background-color: #F082AC;
}
 .img :hover{
    cursor: pointer;
 }

/* .banner {
    padding: 70px;
    font-size: 40px;
} */

/* 
.category1{
    display: flex;
    
} */

/* .tops-collection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    bottom: 30%;
}

.tops-img {
    position: absolute;
    top: 37%;
}

.bottoms-img{
    position: absolute;
    top: 75%;
}

.bottoms-collection {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    top: 74.3%;
} */

.top-collection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 0px 10px;
    
    
}

.bottom-category {
    text-align: left;
    display: flex;
    width: 100%;
    
}

.banner {
    font-family:  'UBFutura', -apple-system, blinkmacsystemfont, "Helvetica Neue", helvetica, segoe ui, arial, roboto, "PingFang SC", "miui", "Hiragino Sans GB", "Microsoft Yahei", sans-serif !important;
    padding-bottom: 50px;
}

.banner p {
    font-style: italic;
    color: #5A5A5A;
}

.banner button {
    border: none;
    background-color: white;
    color: black;
    padding: 70px;
    padding-bottom: 5px;
    font-size: 40px;
}

.card :hover{
    cursor: pointer;
}