.content {
    display: flex;
    flex-direction: row;
    position: relative;
    bottom:-20px;
}



.filter-container {
    position: fixed;
    width: 15%;
    margin: 30px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;

}
.filters {
    display: flex;
    flex-direction: column;
    height: 70%;
  
    text-align: left;
    border-radius: 10px;
}

.filter-heading {
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    margin: 20px;
}

.btn-clear {
    background-color: #e7e7e7; 
    color: black;
    border: none;
  
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.category-filter {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.category-input {
    margin-top: 10px;
}



.price-filter {
    margin: 20px;
}

.price {
    display: flex;
    justify-content: space-between;
    grid-gap: .5rem;
    gap: .5rem;
    width: 65%;
    font-size: small;
    
}
.price-label label ::before{
    content: "₹";
}


.price-range {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.sort-filter {
    margin: 20px;
    
}

.sort-select {
    margin-top: 10px;
}


.products-container {
    position: relative;
    left: 25%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap : 40px;
    margin: 20px;
    margin-top: 40px;

}

.sort-filter select {
    padding: 10px;
   
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .content {
        display: flex;
        flex-direction: column;
        width: 100%;


    }
    .filter-container {
        position: relative;
       width: 90%;
       padding: 10px;
       margin: 5px;
       flex-wrap: wrap;

    }
    .filters{
        display: flex;
        flex-direction: row;
        height: 10vh;
        gap: 0.5rem;
       justify-content: space-between;
    }

    .filter-heading {
        margin: 2px;
        display: flex;
        flex-direction: column;
        justify-content: left;
        
    }
    .filter-heading button {
        padding: 8px;
        font-size: small;

    }
    .category-filter {
        margin: 2px;
    }

    .category-label {
        font-size: 14px;
    }
    .category-input {
        margin-top: 2px;
        font-size: x-small
    }
    .price-filter {
        margin: 2px;
        margin-left: 5px;
    }
    .price-label {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .price-range{
        margin-top: 5px;
    }
    .price-range .price{
        font-size: 12px;
        gap: 3rem;
        justify-content: space-between;
    }
    .price-input {
       width: 10%;
    }
    .sort-filter {
        margin: 2px;
    }
    .sort-label {
        font-size: 14px;
    }
    .sort-select select {
        width: 50px;
        padding : 1px;
        font-size: 8px;
    }

    .products-container{
        left: 0%;
        display: grid;
        grid-template-columns: auto auto;
        width: 95%;
        margin: 10px;
        grid-gap: 10px;
        
    }
    .card{
        min-height: 47vh;
    }
    .card .price {
        margin: 5px;
        font-size: medium;
        
    }

    .card .prod-title{
        font-size: medium;
        margin: 5px;
    }
    .card button {
        padding: 8px;
        font-size: medium;
    }
 }