.wishlist-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap:30px;
    width: 88%;
    margin: 60px auto ;
  
}

.wishlist-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    text-align: left;
    position: relative;
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
  
}

.wishlist-title{
    font-size: 16px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.price{
    color: black;
    font-size: 16px;
    margin-top: 10%;
    font-weight: bold;
    margin-top: 0px;
    margin-left: 10px;
}

.wishlist-btn-container{
    display: flex;
    
}

.wishlist-btn {
    border: none;
    outline: 0;
    padding: 10px 6px;
    /* color: white; */
    margin: 4px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
   
    color: black;
    
}
.icon-background {
    color: var(--lightGrey);
    position: absolute;
    display: inline-block;
    padding: 0.4rem 0.5rem;
    font-weight: var(--font-semiBold);
    font-size: 1rem;
    right: 2%;
    top: 1%;
    background-color: white;
    width: 24px;
    border-radius: 50%;
    padding: 4px 4px 8px 8px;

    opacity: 0.6;
    margin: 2px;
}
@media only screen and (max-width: 600px){
    .wishlist-container{
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
        margin: 10px auto;
    
    }
    .wishlist-main-container h1{
        font-size: large;
    }
    .wishlist-card{
        justify-content: space-between;
    }
}